
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items:flex-start;
    /* align-content:flex-start; */
    gap: 10px;
}


.flex-container > div {
    width: 25%;
    border: 1px solid lightblue;
    padding: 1%;
    font-size: .85em; 
}

a {
    text-decoration: none;
}

.flex-container > div > a > img {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-row: auto auto auto;
}

.grid-container > div {
    border: 1px red solid;
    padding: 1%;
}

.grid-container > div:first-of-type + div {
    color: green;
    font-weight: bold;
}

.grid-container > div:last-child {
    color: lightslategray;
  }
